<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles/reset.css"> -->
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <!-- <header>
        <div>
            <h1>Best Books!</h1>
        <i class="fa fa-bars"></i>
          </div>
    </header> -->
    <main>
        
       
        <nav>
            <div>
            <a href="/">Home</a>
            <a href="/searches/new">search the Google Books API</a>
          </div>
          </nav>
        <p> Your Bookshelf has (<%= count%>) Books </p>

<div class="mainDiv">
<% books.forEach(item=>{ %> 
<img src="<%= item.image_url %>">
<p><%= item.title %></p>
<p><%= item.author %></p>
<!-- <p><%= item.description %></p>     -->
<form action="/books/<%=item.id %>" method="GET">
    <input type="hidden" name="title" value="<%= item.title %>">
    <input type="hidden" name="author" value="<%= item.author %>">
    <input type="hidden" name="description" value="<%= item.description %>">
    <input type="hidden" name="image_url" value="<%= item.image_url%>">
    <button>View Details</button>
    </form>
<% })%>
</div>
    </main>
</body>
</html> 